<div class="row">
    <div class="col s12">
        <h1>Trips</h1>
    </div>
</div>

<div class="divider"></div>
<span><button class="index" action="/home" method="POST">Home</button></span>
<span><button class="create" action="/create" method="POST">Create Trip</button></span>
<div class="divider"></div>

 <ul class="collapsible" data-collapsible="accordion">
     {{#each trips}}
    <li>
      <div class="collapsible-header"><i class="material-icons">filter_drama</i>{{trip_name}}</div>
      <div class="collapsible-body">
        <span>Location: {{location}}</span> </br>
        <span>Date: {{trip_date}}</span> </br>
        {{#each Fishes}}
        <span>Name: {{fish_name}}</span> </br>
        <span>Bait: {{bait}}</span> </br>
        <span>Notes: {{notes}}</span> </br>
        {{/each}}
        <button class="update" type="submit">Update</button>
        <button class="update" type="submit">Delete</button>
      </div>
    </li>
    {{/each}}
</ul>
