 <ul class="collapsible" data-collapsible="accordion">
     {{#each trips}}
    <li>
      <div class="collapsible-header"><i class="material-icons">filter_drama</i>{{trip_name}}</div>
      <div class="collapsible-body">
        <span>Location: {{location}}</span>
        <span>Date: {{trip_date}}</span>
        {{Fishes}}
        {{#each Fishes}}
        <span>Name: {{fish_name}}</span>
        <span>Bait: {{bait}}</span>
        <span>Notes: {{notes}}</span>
        {{/each}}
      </div>
    </li>
    {{/each}}

    {{#each trips}}
    <li>
     <div class="collapsible-header"><i class="material-icons">filter_drama</i>{{trip_name}}</div>
      <div class="collapsible-body">
        <span>Location: {{location}}</span>
        <span>Date: {{trip_date}}</span>
        {{#each Fishes}}
        <span>Name: {{fish_name}}</span>
        <span>Bait: {{bait}}</span>
        <span>Notes: {{notes}}</span>
        {{/each}}
      </div>
    </li>
    {{/each}}

    {{#each trips}}
    <div class="collapsible-header"><i class="material-icons">filter_drama</i>{{trip_name}}</div>
      <div class="collapsible-body">
        <span>Location: {{location}}</span>
        <span>Date: {{trip_date}}</span>
        {{#each Fishes}}
        <span>Name: {{fish_name}}</span>
        <span>Bait: {{bait}}</span>
        <span>Notes: {{notes}}</span>
        {{/each}}
      </div>
    </li>
    {{/each}}
  </ul>
