<div class="row">
    <div class="col s12">
        <h1>Trips</h1>
    </div>
</div>

<div class="divider"></div>
<button class="index"><a href="/">Home</a></button>
<button class="create"><a href="/create">Create Trip</a></button>
<div class="divider"></div>

 <ul class="collapsible" data-collapsible="accordion">
     {{#each trips}}
    <li>
{{!--     <form class="col s12 create-form" action="/trips" method="POST"> --}}
      <div class="collapsible-header"><i class="material-icons">filter_drama</i>{{trip_name}}</div>
      <div class="collapsible-body">
        <span class="title">Location: </span>
        <span class ="span">{{location}}</span></br>
        <div class="row">
            <div class="input-field col s6 form-group formb">
              <input type="text" name="firstname"><br>
            </div>
            <div class="input-field col s2 form-group formb">
              <a href="#" class="remove_field">Remove</a>
            </div>
        </div>

        <span class="title">Date: </span>
        <span class ="span">{{trip_date}}</span></br>
         <div class="row">
            <div class="input-field col s6 form-group formb">
              <input type="text" name="firstname">
            </div>
            <div class="input-field col s2 form-group formb">
              <a href="#" class="remove_field">Remove</a>
            </div>
        </div>

        {{#each Fishes}}
        <span class="title">Name: </span>
        <span class ="span">{{fish_name}}</span> </br>
         <div class="row">
            <div class="input-field col s6 form-group formb">
              <input type="text" name="firstname"><br>
            </div>
            <div class="input-field col s2 form-group formb">
              <a href="#" class="remove_field">Remove</a>
            </div>
        </div>

        <span class="title">Bait</span>
        <span class ="span">{{bait}}</span> </br>
        <div class="row">
            <div class="input-field col s6 form-group formb">
              <input type="text" name="firstname"><br>
            </div>
            <div class="input-field col s2 form-group formb">
              <a href="#" class="remove_field">Remove</a>
            </div>
        </div>

        <span class="title">Notes</span>
        <span class ="span">{{notes}}</span> </br>
         <div class="row">
            <div class="input-field col s6 form-group formb">
              <input type="text" name="firstname"><br>
            </div>
            <div class="input-field col s2 form-group formb">
              <a href="#" class="remove_field">Remove</a>
            </div>
        </div>

        {{/each}}
        <button class="update" type="submit">Update</button>
        <button class="delete" type="submit">Delete</button>
        <button id="submitChanges" class="hidden" type="submit">Submit</button>
      </div>
{{!--     </form> --}}
    </li>
    {{/each}}
</ul>